<article class="py-8">
  {% for block in section.blocks %}
    {% case block.type %}

      {% when 'article_title' %}
        <div class="flex justify-center">
          <div class="text-center max-w-7xl">
            <a href="{{ blog.url }}" class="text-base font-bold text-gray-500 uppercase hover:text-gray-900">{{ blog.title }}</a>
            <h1 class="text-4xl font-medium md:text-6xl">{{ article.title }}</h1>
          </div>
        </div>

      {% when 'article_author' %}
        <div class="flex justify-center">
          <div class="text-center max-w-7xl">
            {% if section.settings.enable_author %}
              <small>{{ article.author }}</small>
            {% endif %}
          </div>
        </div>

      {% when 'article_published_date' %}
        <div class="flex justify-center">
          <divn class="text-center max-w-7xl">
            {% if section.settings.enable_date %}
              <time datetime="
                    {{ article.published_at |  date: '%Y-%m-%d'}}">
                {{ article.published_at | date: format: 'on_date' }}
              </time>
            {% endif %}
          </divn>
        </div>

      {% when 'featured_image' %}
        <div class="mx-2 my-4 overflow-hidden bg-blue-100 rounded-lg max-w-7xl md:mx-auto">
          {% if article.image != blank %}
            <img
              class="object-cover object-center w-full h-80 md:h-96"
              src="{{ article.image | image_url: width: 1100 }}"
              width="900"
              height="600"
              alt="{{ article.image.alt }}">

          {% else %}
            {% assign placeholder_image = "lifestyle-2" %}
            {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
          {% endif %}
        </div>

      {% when 'article_content' %}
        <div class="flex items-center justify-center">
          <div class="max-w-4xl">
            {{ article.content }}
          </div>
        </div>
    {% else %}

      {% endcase %}
    {% endfor %}
  </article>

  {% if article.comments_enabled? %}
    <div id="comment" class="my-8">
      {% if article.comments_count > 0 %}
        <div class="items-center justify-center flex-1 max-w-4xl px-4 mx-auto">
          <h1 class="mb-4 text-lg font-medium">See what people are saying</h1>

          {% paginate article.comments by 5 %}
            {% for comment in article.comments %}
              <div class="flex-1 px-4 py-2 my-4 leading-relaxed border sm:px-6 sm:py-4">
                <span class="mr-2 font-bold comment-author">{{ comment.author }}</span>
                <span class="text-xs text-gray-400">
                  {{ comment.created_at | date: format: 'default' }}</span>
                <p class="text-sm">{{ comment.content }}</p>
              </div>
            {% endfor %}

            {% if paginate.pages > 1 %}
              {{ paginate | default_pagination }}

            {% endif %}
          {% endpaginate %}
        </div>
      {% else %}
        <p>No comments yet</p>
      {% endif %}
    </div>

    <div id="comment-form" class="mb-8">
      {% form 'new_comment'
        , article %}
        <div class="items-center justify-center flex-1 max-w-4xl px-4 mx-auto">

          {% if form.errors %}
            <div class="p-5 border ">
              <div class="flex items-center w-full mr-3 flex-grox">
                <div class="text-red-500">
                  {% render 'icon-failed' %}
                </div>
                <div class="ml-3 text-sm font-medium">
                  <p>Oh no! your comment is not posted!</p>
                </div>
              </div>
              <ul class="px-4 mb-3 list-decimal ml-7">
                {% for error in form.errors %}
                  <li>
                    <span>{{ form.errors.messages[error] }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% elsif form.posted_successfully? %}
            <div class="flex flex-row items-center w-full p-5 my-3">
              <div class="text-green-500">
                {% render 'icon-success' %}
              </div>
              <p class="ml-3 text-sm font-medium">Your comment was posted successfully!</p>
            </div>

          {% endif %}

          <div class="px-1 mb-3 md:flex ">
            <div class="px-3 md:w-1/2">
              <label for="comment_author" class="mb-2 text-xs font-medium text-gray-700 uppercase">Name</label>
              <input
                type="text"
                name="comment[author]"
                id="comment_author"
                class="w-full px-4 py-3 mb-3 text-gray-700 border focus:outline-none"
                placeholder="Jane Doe"
                required>
            </div>
            <div class="px-3 md:w-1/2">
              <label for="comment_email" class="mb-2 text-xs font-medium text-gray-700 uppercase">Email</label>
              <input
                type="email"
                name="comment[email]"
                id="comment_email"
                class="w-full px-4 py-3 mb-3 text-gray-700 border focus:outline-none"
                placeholder="jane@doe.com"
                required>
            </div>
          </div>
          <div class="px-1 mb-3 md:flex">
            <div class="px-3 md:w-full ">
              <label for="comment_content" class="mb-2 text-xs font-medium text-gray-700 uppercase ">Comment</label>
              <textarea
                class="w-full h-20 px-3 py-2 text-gray-700 border resize-none focus:outline-none"
                name="comment[body]"
                id="comment_content"
                required></textarea>
            </div>
          </div>
          <div class="px-1 mb-3 md:flex">
            <div class="px-3 md:w-full">
              <input
                type="submit"
                value="Post comment"
                class="w-full px-4 py-2 text-base font-medium text-white bg-gray-900 border cursor-pointer hover:bg-gray-700">
            </div>
          </div>
        </div>
      {% endform %}
    </div>
  {% endif %}


  {% schema %}
    {
      "name": "Template Article",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_author",
          "default": true,
          "label": "Show author"
        }, {
          "type": "checkbox",
          "id": "enable_date",
          "default": true,
          "label": "Show date of creation of the article"
        }
      ],
      "blocks": [
        {
          "type": "article_title",
          "name": "Title",
          "limit": 1
        },
        {
          "type": "article_author",
          "name": "Author",
          "limit": 1
        },
        {
          "type": "article_published_date",
          "name": "Published date",
          "limit": 1
        },
        {
          "type": "featured_image",
          "name": "Thumbnail",
          "limit": 1
        }, {
          "type": "article_content",
          "name": "Content",
          "limit": 1
        }
      ]
    }
  {% endschema %}