{% paginate blog.articles by 3 %}
  {% for article in blog.articles %}
    <div>
      {% if article.image != blank %}
        <img
          src="{{ article.image | image_url: 'medium' }}"
          alt="{{ article.image.alt }}"
          width="{{ article.image.width }}"
          height="{{ article.image.height }}"
          loading="lazy">
      {% endif %}
    </div>
  {% endfor %}
{% endpaginate %}

<script>
  var articles = {{ blog.articles | json }};
  console.log(articles);
</script>